Create an .env file. This should only be used in development as we're
simply simulating environment variables within our local project. For
the actual environment variables in production, create them on the server
itself.

NODE_ENV=development
HOSTNAME=localhost
PORT=3000
SESSION_PASSWORD=hola
DATABASE_URL=hola